.vscode/

# python module
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

archive/
*/temp/
tempCodeRunnerFile.*
*priv*
*.out

*.csv
*.json
*.gz
*.tgz
*.tar
*.zip
*.rar
*.7z

ChatExport*
*.data

*.png
*.webp
*.svg

*.ttf
*.ttc
